body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Josefin Slab', serif;
    font-size: 10px;
}
#workspace {
    display: none;
}
.node, .btn {
    font-size: 1.5em;
}
.op {
    font-size: 1.75em;
}
p {
    font-family: 'Roboto Slab', serif;
}
#divider {
    border-bottom: 1px solid #0a1d29;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
.myModalFooter {
    width: 100%;
    border-top: 1px solid #0a1d29;
    padding-top: 15px;
    margin-top: 20px;
    text-align: right;
}
.nodeBoxSample .node {
    width: 60px;
    height: 60px;
    padding: 10%;
}
.nodeBoxSample .op {
    width: 60px;
    height: 30px;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.nodeBox {
    margin-bottom: 2%;
}
.node {
    padding: 10%;
}
.op {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.op:disabled {
    color: #5bc0de;
}
#inputValue {
    width: 95%;
    height: 95%;
    padding: 2%;
    text-align: center;
}
#inputOp {
    width: 95%;
    vertical-align: center;
}
#points {
    float: right;
}
.navbar .navbar-brand {
    font-size: 2em;
}
.navbar .navbar-brand:hover {
    color: #73a3a2;
}
#alert {
    z-index: 3;
    position: absolute;
    top: 75px;
}
.gameOver {
    opacity: 0.5;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .close {
    color: #fff;
}
#home {
    cursor: pointer;
}
.pull-left, .pull-right {
    text-align: center;
    margin: 5%;
}
.modal-body {
    text-align: left;
}