@font-face {
  font-family: SimplePrint;
  font-size: larger;
  src: url("/public/resources/fonts/SimplePrint.ttf");
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nodeBox {
  width: 45px;
  height: 80px;
}

.node {
  height: 45px;
  z-index: 1;
  margin: 3px;
  padding: 1px;
}

.op {
  height: 30px;
  z-index: 2;
  padding: 1px;
}

#inputValue {
  width: 40px;
  padding: 5px;
  text-align: center;
}

#inputOp {
  width: 40px;
}

#points {
  float: right;
}

.navbar .navbar-brand:hover{
  color: #73a3a2;
}

#alert {
  z-index: 3;
  position: absolute;
  top: 50px;
  width: 100%;
}

.gameOver {
  opacity: 0.5;
}