<div class="alert {{#if isWin}}alert-success{{else}}alert-danger{{/if}}">
    {{#if isWin}}
    <h2>You won!</h2>
    <h4>Score: {{points}}</h4> {{else}}
    <h2>Game Over!</h2>
    <h4>Better luck next time!</h4> {{/if}}
    <br>
</div>