<div width=400>

<button id="addBtn" type="button" class="btn btn-primary">+</button>
<button id="subBtn" type="button" class="btn btn-primary">-</button>
<button id="multBtn" type="button" class="btn btn-primary">ร</button>
<button id="divBtn" type="button" class="btn btn-primary">รท</button>

</width>