<form class="form form-inline">

	<div id="inputForm" class="form-group">
  		<input type="number" class="form-control" id="inputValue" min="0" max="100" step="1" data-bind="value:replyNumber">
	</div>

</form>